.boas-vindas {
    background-color: #1a6279;
    border-bottom: 1px black solid;
    margin-top: 0px;
    padding: 10px 10px;

}
.header-stilo {
    background-color: #88acbb;
    border-bottom: 1px black solid;
    font-weight: bold;

}
.botoes-header {
    background-color: #1a6279; 
    color: #f6f6f1;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 12px;
    margin: 0px ;
    text-align:center;
    font-size: 19px;
}
.body-estilo {
    margin: 0px 200px;
    background-color: #e1eeef;
    font-family: 'Courier New';
    border: 1px black solid;
}
.div-estilo {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 8px;
}
.redes-sociais-imagens {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}
.footer {
    background-color: #1a6279; 
    border-top: 1px black solid;
    font-weight: bold;
}

.botoes-footer{
    background-color: #1a6279; 
    color: #f6f6f1;
    border: 1px black solid;
    font-weight: bold;
    text-decoration: none;
    padding: 0 37px;
    margin: 5px ;
}
.linha-para-botoes {
    background-color: #1a6279; 
    display: block;
    border-top: 1px black solid;
}
.caixas-de-texto-padrao {
    text-align:center;
    font-weight: bold; 
}





































































































































































































